.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.None-bg {
  background: none !important;
}

.selectors {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
}

.Red-bg {
  background: #CD6155 !important;
}

.Blue-bg {
  background: #5DADE2 !important;
}

.White-bg {
  background: #FBFCFC !important;
}

.Green-bg {
  background: #52BE80 !important;
}

.Yellow-bg {
  background: #F4D03F !important;
}

.Violet-bg {
  background-color: #AF7AC5 !important;
}

.Black-bg {
  background: #2C3E50 !important;
}

.Brown-bg {
  background: #AF601A !important;
}

.Pink-bg {
  background: #F5B7B1 !important;
}

.Gray-bg {
  background: #CACFD2 !important;
}

.Orange-bg {
  background: #EB984E !important;
}

.Gold-bg {
  background: linear-gradient(#B7950B, #FCF3CF) !important;

}

.Silver-bg {
  background: linear-gradient(#A6ACAF, #F2F3F4) !important;
}